MODEL_PROFILE=gguf
DOWNLOAD_MODELS=1
INSTALL_CUSTOM_NODES=1
INSTALL_SYSTEM_DEPS=1
INSTALL_QWENVL_GGUF_DEPS=0
START_RUNPOD_SERVICES=1
COMFYUI_DIR=/workspace/ComfyUI
COMFYUI_HOST=0.0.0.0
COMFYUI_PORT=8188
