MODEL_PROFILE=gguf
DOWNLOAD_MODELS=1
MODEL_DOWNLOAD_JOBS=4
ARIA2_CONNECTIONS=16
ARIA2_SPLITS=16
INSTALL_CUSTOM_NODES=0
USE_BAKED_CUSTOM_NODES=1
INSTALL_SYSTEM_DEPS=0
INSTALL_QWENVL_GGUF_DEPS=0
START_RUNPOD_SERVICES=0
WORKSPACE_DIR=/workspace/comfyui
MODEL_ROOT=/workspace/comfyui
LISTEN=0.0.0.0
PORT=8188
COMFYUI_ARGS=--reserve-vram 3
CIVITAI_TOKEN={{ RUNPOD_SECRET_CIVITAI_TOKEN }}
HF_TOKEN={{ RUNPOD_SECRET_HF_TOKEN }}
